h1, h3, #round, #message {
	text-align: center;
}


img {
	width: 150px;
	height: 200px;
	margin: 10px;
	border: solid black;
}


.panel {
	background-color: lightgrey;
	border: solid black;
	margin-left: auto;
	margin-right: auto;
	width: 536px;
	padding: 15px;
}


.score {
	box-sizing: border-box;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 38px;
	/*border: solid black;*/
}

