<!DOCTYPE html>
<html>

	<head>
		<title>Rock, Paper, Scissors</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
	</head>

	<body>
		<h1>Rock, Paper, Scissors</h1>
		<div class="imags">
			<h3>CHOOSE ONE:</h3>
    		<img id="rock" src="{{url_for('static', filename='images/rock.jpg')}}"/>
    		<img id="paper" src="{{url_for('static', filename='images/paper.jpg')}}"/>
    		<img id="scissors" src="{{url_for('static', filename='images/scissors.jpg')}}"/>
    		<hr>  
    		<div class="user-box">
    			
    		</div>  		
    		<div class="computer-box">
    			
    		</div>    		
    		<div class="result-box"></div>
    		<div class="message">Good!</div>
		</div>
		<script src="{{url_for('static', filename='js/script.js')}}"></script>
	</body>
	
</html>